attrs==21.2.0
click==8.0.1
Flask==2.0.1
gunicorn==20.1.0
itsdangerous==2.0.1
Jinja2==3.0.1
jsonschema==3.2.0
kaggle-environments==1.8.3
MarkupSafe==2.0.1
numpy==1.21.1
pyrsistent==0.18.0
six==1.16.0
Werkzeug==2.0.1
